---
import HeaderPorfolio from "../components/Header.astro"
import EncabezadoPorfolio from "../components/Encabezado.astro"
import AboutPorfolio from "../components/About.astro"
import ProjectsPorfolio from "../components/Projects.astro"
import SkillsPortofolio	from "../components/Skills.astro"
import FooterPortofolio from "../components/Footer.astro"
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
	
</head>
<body id="home" class="bg-zinc-900">
	<HeaderPorfolio />
	<EncabezadoPorfolio />
	<AboutPorfolio />
	<ProjectsPorfolio />
	<SkillsPortofolio />
	<FooterPortofolio />
</body>
</html>