---

---
<div class="w-full bg-zinc-900 flex flex-col items-center justify-center my-20 ">

    <div id="about" class="w-[105px] rounded-xl bg-[#4B5563] flex justify-center ">
        <p class=" text-gray-300 ">About</p>
    </div>

    <div class="flex flex-col w-64 max-w-[1024px]  mt-20 sm:w-[300px] md:w-full md:flex-row md:mx-auto md:justify-around md:items-center md:px-4 lg:justify-between lg:mx-4">

        <div class="w-full md:w-[300px] lg:w-[400px] ">
            <img src="src/images/stickerblanco.png" alt="">
        </div>

        <div class="w-64 text-balance font-light text-sm  text-gray-300 mt-10 pt-1 sm:w-[300px] md:w-[400px] lg:w-[500px] ">
            <p>I am a front-end web developer with +1 year of experience in creating websites with high-quality user experience and attractive visualizations using. <br><br>
            I started this path through my experience with the computer world and video games, becoming interested and delving into programming. Little by little I trained myself through courses and self-taught research, dedicating most of the day to it.<br><br>
            Nowadays I work with different languages ​​and tools: HTML, CSS, JS, ReactJs, TailwindCSS, SASS, Astro, Figma, Git, Git hub, VsCode, WordPress </p>
        </div>

    </div>

</div>
