---
import GithubIcon from "../components/icons/GithubIcon.astro"
import LinkedinIcon from "../components/icons/LinkedinIcon.astro"
import InstagramIcon from "../components/icons/InstagramIcon.astro"
import { Image } from 'astro:assets';
import FotoPerfil from "../images/fotoperfil.jpg"
---

<div class="w-full bg-zinc-900 flex justify-center mt-20">
    <div class="flex  flex-col items-center pt-12 px-4 sm:flex-row sm:justify-around md:w-full md:justify-around lg:max-w-[1128px] ">
        
        <Image src={FotoPerfil} alt="Porfolio Diego Pitón"    class="sm:order-2 h-60 w-64 rounded-xl object-cover sm:w-3/12 lg:h-80 lg:w-84  shadow-xl "/>
        
        <div class="w-72  sm:w-7/12 sm:order-1">
            <h1 class="pt-9 text-2xl font-bold text-gray-300 md:text-4xl lg:text-5xl">Hi, I'm <span class="text-[#62799D]">Diego Pitón</span></h1>
            <h2 class="pt-1 text-xl font-bold text-[#49d8a4] md:text-2xl lg:text-4xl">Developer web</h2>
            <p class="pt-3 text-sm text-gray-300 font-light lg:w-full lg:text-base">+1 year of experience in   web design and development, focused on providing the client with the best solution</p>
            <ul class="pt-9 flex space-x-3">
                <li>
                    <a href="https://github.com/DiegoPiton">
                        <GithubIcon />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/diego-piton/">
                        <LinkedinIcon />
                    </a>
                </li>
                <li>
                    <a href="">
                        <InstagramIcon />
                        
                    </a>
                </li>
            </ul>
        </div>
    
    </div>
</div> 