---
import InstagramFooter from "./icons/IconFooter/InstagramFooter.astro"
import LinkedinFooter from "./icons/IconFooter/LinkedinFooter.astro"
import CorreoFooter from "./icons/IconFooter/CorreoFooter.astro"
---

<div class="w-full bg-zinc-900 flex flex-col items-center justify-center mt-14 mb-2">

    <footer id="contact">
        <h4 class="text-2xl text-gray-500">
            Contact
        </h4>

        <ul class="flex flex-row gap-2 my-2">
            <li>
                <a href="">
                    <InstagramFooter />
                </a>
            </li>

            <li>
                <a href="">
                    <LinkedinFooter />
                </a>
            </li>

            <li>
                <a href="">
                    <CorreoFooter />
                </a>
            </li>

        </ul>
    </footer>

</div>