---

---
<div class="w-full bg-zinc-900 flex flex-col items-center justify-center my-20 ">
    <div id="projects" class="w-[105px] rounded-xl bg-[#4B5563] flex justify-center ">
        <p  class=" text-gray-300 ">Projects</p>
    </div>
</div>