---
import HtmlIcon from "./icons/HtmlIcon.astro"
import CssIcon from "./icons/CssIcon.astro"
import JsIcon  from "./icons/JsIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import SassIcon from "./icons/SassIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import WordpressIcon from "./icons/WordpressIcon.astro"
import GitIcon from "./icons/GitIcon.astro"
import GithubSkill from "./icons/GithubSkill.astro"
import VisualIcon from "./icons/VisualIcon.astro"
import FigmaIcon from "./icons/FigmaIcon.astro"

---
<div class="w-full bg-zinc-900 flex flex-col items-center justify-center mt-20 mb-2 ">

    <div id="skills" class="w-[105px] rounded-xl bg-[#4B5563] flex justify-center">
        <p  class=" text-gray-300 ">Skills</p>
    </div>

    <div class="w-64  font-light text-sm  text-gray-300 mt-20 pt-1 sm:w-[300px] md:w-[400px] lg:w-[500px]">
        <p>
            In my journey through the world of web development, I have cultivated experience and skills in a variety of technologies. My technology stack includes:
        </p>

        <ul class="grid grid-cols-3 grid-rows-4 gap-2 mt-10 mb-2 md:grid-cols-6 md:grid-rows-2 md:gap-8">

            <li>
                <HtmlIcon />
            </li>

            <li>
                <CssIcon/>
            </li>

            <li>
                <JsIcon />
            </li>

            <li>
                <ReactIcon />
            </li>

            <li>
                <TailwindIcon />
            </li>

            <li>
                <SassIcon />
            </li>

            <li>
                <AstroIcon />
            </li>

            <li>
                <WordpressIcon />
            </li>

            <li>
                <GitIcon />
            </li>

            <li >
                <GithubSkill />
            </li>

            <li>
                <VisualIcon />
            </li>

            <li>
                <FigmaIcon />
            </li>


        </ul>
    </div>

    
</div>